body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: #FFFFFF;
}


button {
    border-style: solid;
}

.main-container {
    display: flex;
    flex-direction: column;
}


/* Navbar */

.navbar {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 20px 0px 20px 100px;
    align-items: center;
}

.logo {
    margin-right: auto;
}

ul {
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;
}

/* Hero Part */


.hero {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.left {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

.left p {
    opacity: 0.7;
}

.left h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0px;
}

.hero-button {
    width: 110px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #3882F6;
    color: white;
}

.right img {
    width: 500px;
    height: 350px;
}


/* Content Part */

.box-content {
    text-align: center;
}

.box-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}

/* Quotation Part */

.box-testimonal {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 0 200px;
}

.box-testimonal p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}

.box-testimonal b {
    padding-bottom: 20px;
    padding-right: 10px;
    text-align: right;
}

/* Sing Up part */

.sign-up {
    background-color: #3882F6;
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-color: none;
}

.sign-item {
    flex: 1;
}

.signs-text {
    text-align: left;
}

.signs-text p {
    color: #fff;
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
}

h3 {
    color: #fff;
    padding: 0px;
    margin: 30px 0px 0px 50px;
}

.signs-button button {
    color: white;
    border-color: white;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 5px 25px;
    font-size: 15px;
}

.footer {
    background-color: #1F2937;
    color: #fff;
}













/*


.header-hero {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    min-height: 400px;
    margin-bottom: 20px;
}

.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10%;
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.bot-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0px;
    gap: 34px;
}

.left {
    max-width: 400px;
}

.container-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-img {
    height: 225px;
    max-width: 100%;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-button {
    background-color: #3882F6;
    padding: 10px 30px;
    border-radius: 10px;
    border-color: #3882F6;
    color: white;
    font-size: 16px;
    margin-top: 10px;
}

.info-text {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 32px;
}

.box-images {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 52px;
    margin-bottom: 120px;
    flex-wrap: wrap;
}

.item {
    width: 300px;
    border: 2px soild red;
}

.item img {
    width: 130px;
    height: 100px;
    border: 2px solid #3882F6;
    border-radius: 10px;
    padding: 10px;
}

.img-text {
    color: gray;
    font-size: 18px;
}

.currency-text {
    font-size: 14px;
    font-weight: bolder;
}

.box-testimonal {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    min-height: 400px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}

.quote-container {
    max-width: 800px;
}

.name-container {
    margin-top: 10px;
    margin-left: 560px;
}

.quote-name {
    font-weight: bolder;
    font-size: 20px;
}

.container{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 125px;
    width: 750px;
    background-color: #3882F6;
    border-radius: 10px;
}

.action-text {
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 22px;
}

.small-text {
    color: #F9FAF8;
    font-size: 16px;
}

.sign-up {
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 10px 30px;
    border-color: #F9FAF8;
    border-radius: 10px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    height: 72px;
    color: #F9FAF8;
    font-size: 18px;
}




